@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
  }
  
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}


header{

    position:fixed;
	left: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	background-color: #000000;
    /* padding:0px 0px; */
    height: 68px;
    /* position: fixed;
    border: 3px solid white; */

}


header .container
{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    height: 0px;
    /* justify-content: space-between;
	align-items: center; */
}
header .container .navbar
{
    position: relative;
    /* border: 1px solid white; */
    height: 0px;
    margin: 0px;
    width: 50%;
    
}

header .container .navbar a
{

	text-decoration: none;
    font-size: 30px;
	font-weight: 400;
    color:#ffffff;
    display: block;
    position: relative;
    padding:10px 30px;

}

header .container .navbar a:hover{
	
	padding:8px 30px;
	background-color: #222222;
	color:#ffffff;
	text-decoration: none;
	display: inline-block;
	border:1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

header .container .img
{
    /* position: relative; */
    width: 50%;
    color: white;
    font-size: 38px;
    margin: 3px;
    font-weight: 700;
}
.container{
	max-width: 1170px;
	margin: auto;
}
/* ................................Header End.............................  */


  /* ..........................................Home Page......................  */
  .home
  {
    /* display: flex; */
    position: relative;
    height: 928px;
    background-image: url('../main.jpg');
    background-size: cover;
    background-position: top center;
    -webkit-transition: all .5s ease;
	transition: all .5s ease;
  }
  
.home .container h1{
	color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 156px;
    padding-left: 167px;
    font-size: 71px;
    
}

.home .container h1 span{
	color:#c11325;
}

.home .container .btn{
	padding:8px 30px;
	background-color: #222222;
	color:#ffffff;
	text-decoration: none;
	display: inline-block;
	border:1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
    margin-left: 418px;
}

.home .container .btn:hover{
	color: white;
	background-color: rgb(173, 34, 34);
}


/* ..........................about us content  in main page.......  */

.extra{
	padding:80px 0px;
	background-color:black;
}

.extra .content{ 
 -webkit-display: flex;
 display: flex;
}
.extra .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.extra .content .box .inner{
	background-color:#222222;
}
.extra .content .box:nth-child(1) .inner{
	background-color: #c11325;
}
.extra .content .box .inner .img img{
	width: 100%;
}
.extra .content .box .inner .text{
	padding:30px;
}

.extra .content .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color:#ffffff;
 text-transform: capitalize;
  text-align: center;
}
.extra .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#ffffff;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}



/* ..........................services....................................... */

.service{
	padding:80px 0px;
	background-color: #c11325;
}

.service .content{
	
	display:flex;
}

.service .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding:15px;
}

.service .content .text h2{
	font-size: 30px;
	font-weight: 500;
	color:#ffffff;
	padding:0px 0px 20px;
}

.service .content .text p{
    font-size: 15px;
	line-height:20px;
	color:#ffffff;
	margin:0;
	padding:0px 0px 20px;
	font-family: 'Open Sans', sans-serif;
}

.service .content .text .btn{
	padding:8px 30px;
	background-color: #222222;
	color:#ffffff;
	text-decoration: none;
	display: inline-block;
	margin-left: 200px;
	border:1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.service .content .text .btn:hover{
	border:1px solid #ffffff;
	color:#ffffff;
	background-color: transparent;
	
}
.service .content .accordian-container{
	margin-bottom: 15px;
}
.service .content .accordian-container .head{
	background-color:rgba(0,0,0,0.2);
	position: relative;
	padding:25px 15px;
	cursor: pointer;
}
.service .content .accordian-container .head .fa{
	position: absolute;
	right: 10px;
	top:13px;
	color:#ffffff;
	height:30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	color:#ffffff;
	border-radius: 50%;
}
.service .content .accordian-container .head h4{
  font-size: 20px;
  margin:0;
  padding:0;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
}

/* .service .content .accordian-container.active .head{
  background-color: #222222;	
} */







/*Classes Section*/

.classes{
	padding:80px 0px 50px;
	background-color: #ffffff;
}

.classes .content{
	-webkit-display: flex;
	display: flex;
}

.classes .content .box{
	padding:15px;
	flex:0 0 50%;
	max-width: 50%;
}

.classes .content .img img{
	width: 100%;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.classes .content .text h2{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
}

.classes .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open Sans', sans-serif;
}


.classes .content .class-items .item{
	margin-bottom: 30px;
	display: flex;
}
.classes .content .class-items .item:nth-child(1){
 background-color: #222222;
}
.classes .content .class-items .item:nth-child(2){
 background-color: #c11325;
}
.classes .content .class-items .item .item-text{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.classes .content .class-items .item .item-text,
.classes .content .class-items .item .item-img{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
}

.classes .content .class-items .item .item-img img{
 width: 100%;
 display: block;
}
.classes .content .class-items .item .item-img .price{
	position: absolute;
	height: 50px;
	width: 60px;
	font-size:20px;
	font-weight: 500; 
	color:#ffffff;
	text-align: center;
	line-height: 50px;
}
.classes .content .class-items .item:nth-child(1) .item-img .price{
 background-color: #c11325;
 left:0;
 top:0;
}
.classes .content .class-items .item:nth-child(2) .item-img .price{
 background-color: #222222;
 right:0;
 top:0;
}
.classes .content .class-items .item .item-text h4{
	font-size: 20px;
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    text-align: left;
}

.classes .content .class-items .item .item-text p{
	font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-align:left;
    margin: 0;
    padding:0 0 20px;
    font-family: 'Open Sans', sans-serif;
}
.classes .content .class-items .item .item-text a{
 font-size: 16px;
 text-decoration: none;
 display: inline-block;
}

.classes .content .class-items .item .item-text a{
	color:#ffffff;
}






/* ..............................gallery...................   */

/*Gallery Section*/
/* 
.gallery .content{
	-webkit-display: flex;
	display: flex;
	flex-wrap: wrap;
}

.gallery .content #box1{
	flex:0 0 50%;
	max-width: 50%;	
}


.gallery .content #box2{
	flex:0 0 50%;
	max-width: 50%;	
}


.gallery .content #box3{
	flex:0 0 50%;
	max-width: 50%;	
}


.gallery .content #box4{
	
	flex:0 0 50%;
	max-width: 50%;	
}
.gallery .content .box img{
	display: block;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.gallery .content .box img:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.gallery h2{
	font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
} */

/* ..............................gallery..end.................   */





/* ...............................classes shedule..................  */
.schedule{
	padding:80px 0px;
	
}

.schedule .content{
	-webkit-display: flex;
	display: flex;
}

.schedule .content .box{
	flex:0 0 50%;
	max-width: 100%;
	padding:15px;
}

.schedule .content .text h2{
   font-size: 30px;
    font-weight: 500;
    color: #000000;
	padding: 0px 0px 20px;
	
}

.schedule .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
}
.schedule .content .text img{
	width: 100%;
	transform: rotateY(180deg);
}

.schedule .content .timing .table{
	width: 100%;
	border-collapse: collapse;
}

.schedule .content .timing .table td{
	border:1px solid #dfdfdf;
	padding: 8px;
	font-size: 15px;
	text-align: center;
	color:#222222;
}

.schedule .content .timing .table tr:nth-child(even) td.day{
	background-color: #222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
	background-color: #444444;
}
.schedule .content .timing .table tr:nth-child(1) td.day{
	background-color: #c11325;
}
.schedule .content .timing .table tr td.day{
	color:#ffffff;
	border-color:transparent;
}


/* ...........................................start price......................................... */
.price-package{
	padding: 80px 0px;
	background-color: #ffffff;
}
.price-package h2{
	font-size: 30px;
	font-weight: 500;
	color:#000000;
	padding: 0px 0px 20px;
	text-align: center;
}

.price-package .title-p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.price-package .content{
	-webkit-display: flex;
	display: flex;
}
.price-package .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}
.price-package .content .box .inner{
	background-color: #f0f0f0;
}
.price-package .content .box .inner .price-tag{
	padding: 15px;
	font-size: 20px;
	background-color: #c11325;
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}
.price-package .content .box .inner .text{
	padding:30px 15px;
	text-align: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color:#222222;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
}
.price-package .content .box .inner .text p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 0 5px;
 font-family: 'Open-sans', sans-serif;	
}
.price-package .content .box .inner .text .btn{
    padding: 8px 30px;
    background-color: #c11325;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}
.price-package .content .box .inner .text .btn:hover{
	border-color:#222222;
	color:#222222;
	background-color: transparent;
}
.price-package .content .box .inner .img img{
	width: 100%;
}
 /* ...................end price............  */




 /* ........................................contact.................................................. */
 
.contact{
	padding:80px 0px;
	background-color: #222222;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid #ffffff;
 font-family: 'Open-sans',sans-serif;
 color:#ffffff;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:#ffffff;
}
.contact .content .form textarea{
	height: 100px;
}

.contact .content .form button{
	border:none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #c11325;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:#ffffff; 
    border-color:#ffffff;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #c11325;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#c11325;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a span{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 15px;
}

/* ..........................end contact.................................. */


/* ......................about.....................................................  */

/* Breadcrumb Section */
.section1 {
	height: 327px;
	padding-top: 155px;
	background-color: grey	;
  /* background: url('/img/about/banner-bg.jpg') no-repeat top center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat;
  background-position: center;
   */
}

.site-text {
  text-align: center;
}
.site-text h2 {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.site-text .site-breadcrumb .sb-item {
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  position: relative;
}
.site-text .site-breadcrumb .sb-item:last-child {
  margin-right: 0;
}
.site-text .site-breadcrumb .sb-item:last-child:after {
  display: none;
}
.site-text .site-breadcrumb .sb-item:after {
  position: absolute;
  right: -15px;
  top: -1px;
  content: "";
  font-family: "FontAwesome";
}

/* ...................new section 2............. */


.about-us-section .about-pic {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 100px;
	border: 2px solid black;
	background-color: grey;

}


.about-text {
	margin-left: -15px;
	margin-right: -15px;
  }
/* 
.about-us-section .about-pic img {
	min-width: 100%;
  } */

  .about-text .section-title {
	margin-bottom: 20px;
  }
  .about-text .section-title h2 {
	font-weight: 200;
  }
  .about-text .section-title p {
	font-size: 20px;
	color: #191919;
	line-height: 28px;
	font-weight: 500;
  }
  .about-text p {
	color: #6e6e6e;
	line-height: 24px;
  }

/* .................................end about.......................................  */







/* ....................................footer..................................................................  */


.site-footer
{
  background-color:#2e2b2b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
  
}
.footer-links li
{
  display:inline-block
}
.footer-links a
{
	
   margin-left: 20px;
  color:#737373
  
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#042772
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:rgb(223, 51, 79)
}
.social-icons a.youtube:hover
{
  background-color:red
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* .....................................footer end .................................  */



/* ................................Extra css for responsive..........................  */

/*if screen width is less than or equal to 550px then*/
@media(max-width: 550px){
	.home h1{
		font-size: 30px;
	}
  }
  

/*if screen width is less than or equal to 767px then*/
@media(max-width: 767px){
	.home h1{
		font-size: 40px;
	}
	.about .content{
		 flex-wrap: wrap;
	}
	.about .content .box {
	  flex: 0 0 100%;
	  max-width: 100%;
  }
  .service .content{
	  flex-wrap: wrap;
  }
  .service .content .box {
	  flex: 0 0 100%;
	  max-width: 100%;
  }
  .classes .content .class-items .item{
	  flex-wrap: wrap;
  }
  .classes .content .class-items .item .item-text, 
  .classes .content .class-items .item .item-img {
	  flex: 0 0 100%;
	  max-width: 100%;
  }
  .schedule .content{
	  flex-wrap: wrap;
  }
  .schedule .content .box{
  flex: 0 0 100%;
	  max-width: 100%;	
  }
  .start-today .content{
	  flex-wrap: wrap;
  }
  .start-today .content .box {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
   .gallery .content{
	flex-wrap: wrap;
   }
  .gallery .content .box {
	  flex: 0 0 100%;
	  max-width: 100%;
  }
  .price-package .content{
	  flex-wrap: wrap;
  }
  .price-package .content .box {
	  flex: 0 0 100%;
	  max-width: 100%;
  }
  .contact .content{
	  flex-wrap: wrap;
  }
  .contact .content .box {
	  flex: 0 0 100%;
	  max-width: 100%;
  }
  }  

  

/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px){
	.home{
		background-position: center;
	}
   .classes .content{
	   flex-wrap: wrap;
   }
  .classes .content .box {
	 flex: 0 0 100%;
	 max-width: 100%;
 }
 .classes .content .img{
	 display: none;
 }
 .start-today .content .box{
	 padding:15px;
 }
 }